.header-mob {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 68px;
  background-color: #1a1b25;
  box-shadow: 0px 1px 2px rgba(9, 25, 72, 0.13),
    0px 0px 0px 1px rgba(18, 55, 105, 0.08);
}

.result {
  height: calc(100% - 50px);
  border-radius: 12px;
  border: 1px solid #67747f;
}

.create-btn-app {
  padding: 24px 0 24px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1a1b1e;
  button {
    padding: 12px;
    border-radius: 24px;
    width: calc(100% - 32px);
  }
}

.menu-app {
  margin-bottom: 20px;
  overflow-x: auto;
  > div {
    padding: 0 15px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    height: 35px;
    border-radius: 24px;
    white-space: nowrap;
    background-color: #343a40;
  }

  .menu-active {
    background-color: #3d9cfb;
  }
}

@media screen and (max-width: 767px) {
  .create-btn-pc {
    display: none !important;
  }
}

@media screen and (min-width: 767px) {
  .create-btn-app {
    display: none !important;
  }
}

.deepfake-page {
  height: 100vh;
  padding-top: 80px;
  overflow: auto;
  background-color: #111114;
}

.MuiButton-startIcon,
button {
  // textTransform: none
  text-transform: none !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create-main {
  .aside-left {
    display: flex;
    flex-direction: column !important;
    position: relative;
    overflow: hidden;

    .aside-config {
      flex: 1;
      overflow: auto;
      &::-webkit-scrollbar-track-piece {
        background: #1d222a;
        border-radius: 20px;
  
      }
    
      &::-webkit-scrollbar {
        width: 6px;
      }
    
      &::-webkit-scrollbar-thumb {
        background: #3b434b;
        border-radius: 20px;
        &:hover {
          background-color: #67747f;
        }
      }
    }
    
    .foot-main {
      background-color: #1d2129;
    }
  }
}
